<div class="full_background background_gray"></div>
<div class="title_container">
  <div class="menu_title">Create New Trip</div>
</div>
  <div class="new_trip_form">
    <%= form_for @trip do |f| %>

      <% if @trip.errors.any? %>
        <ul id="errors">
          <% @trip.errors.full_messages.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="form">
        <%= f.text_field :title, class: "input_form", placeholder: "Name your trip"%>
      </div>
      <div class="form">
        <%= f.label :start_date, class: "label_form" %><br>
        <%= f.date_field :start_date, class: "input_form" %>
      </div>
      <div class="form">
        <%= f.label :end_date, class: "label_form" %><br>
        <%= f.date_field :end_date, class: "input_form" %>
      </div>
     <br/>
      <%= f.submit "Update Trip", class: "add_trip_btn" %>
    <% end %>
    <%= link_to "Cancel", trips_path, class:"cancel_btn" %>

  </div>
