<div class="trip_title"><%= @trip.title %>
  <%= form_tag @trip.travelings.new do %>
    <%= select_tag :user_id, options_from_collection_for_select(@users, "id", "nickname"), { class:"friends_input", id: "select-state", multiple: "multiple", tabindex:"-1", placeholder: "Add a friend..." } %>
    <%= hidden_field_tag :trip_id, @trip.id %>
    <%= submit_tag "+" %>
  <% end %>
</div>
<script>
  $('#select-state').selectize({
    maxItems: 3
  });
</script>

<div class="push_5"></div>
<div class="friends_input_cleaner"></div>
<%= render "posts/posts_feed" %>
