  <% if post.source == "Instagram" %>
    <div class="full_width">
      <%= image_tag post.user.image, class:"profile_picture" %>
      <div class="profile_nickname"><%= post.user.nickname %></div>
      <div class="date"><%= "#{wordy_time(post) unless post.created_date == nil} at #{post.properties["place_name"]}" %></div>
    </div>
      <%= form_tag(hidepost_path(post.id), method: :delete) do %>
        <%= hidden_field_tag "id", post.id %>
        <%= hidden_field_tag "method", "delete" %>
        <%= submit_tag 'Show your post' %>
      <% end %>
    <div class="text"><%= post.properties["caption"] %></div>
    <div class="post_image" style="background-image: url(<%= post.properties['url'] %> );"></div>
  <% end %>
