<% cache @posts do %>
  <% @posts.reverse_each do |post| %>
    <div class="post">

      <% if post.source == "Instagram" %>
        <div class="full_width">
          <%= image_tag post.user.image, class:"profile_picture" %>
          <div class="profile_nickname"><%= post.user.nickname %></div>
          <div class="date"><%= "#{wordy_time(post) unless post.created_date == nil} ago at #{post.properties["place_name"]}" %></div>
        </div>
        <% if post.hide %>
          <%= form_tag(hidepost_path(post.id), method: :delete) do %>
            <%= hidden_field_tag "id", post.id %>
            <%= hidden_field_tag "method", "delete" %>
            <%= submit_tag 'Show your post' %>
          <% end %>
        <% else %>
          <%= form_tag(hideposts_path, method: :post) do %>
            <%= submit_tag 'Hide your post' %>
          <% end %>
        <% end %>
        <div class="text"><%= post.properties["caption"] %></div>
        <div class="post_image" style="background-image: url(<%= post.properties['url'] %> );"></div>

      <% elsif post.source == "Twitter" %>
        <div class="full_width">
          <%= image_tag post.user.image, class:"profile_picture" %>
          <div class="profile_nickname"><%= post.user.nickname %></div>
          <div class="date"><%= "#{wordy_time(post) unless post["caption"] == nil} ago at #{post.properties["place_name"]}" %></div>
        </div>
        <%= form_for post, :method => :patch do |f| %>
          <%= f.hidden_field :hide, :value => true %>
          <%= f.submit value: "Hide Your Post", class: "hide-button" %>
        <% end %>
        <div class="text"><%= post.properties["text"] %></div>
        <% if post.properties["image_url"] %>
          <div class="post_image" style="background-image: url(<%= post.properties['image_url'] %> );"></div>
        <% end %>
      <% end %>
      <h3>The Conversation:</h3>
      <%= render partial: 'posts/comment', locals: {comments: post.comments} %>
      <%= render 'comments/new', post: post %>

    </div>
  <% end %>
<% end %>
