<% @posts.reverse_each do |post| %>
  <div class="post">

    <% if post.source == "Instagram" %>
      <div class="full_width">
        <%= image_tag post.user.image, class:"profile_picture" %>
        <div class="profile_nickname"><%= post.user.nickname %></div>
        <div class="date"><%= "#{wordy_time(post)} ago at #{post.properties["place_name"]}" %></div>
      </div>
      <div class="text"><%= post.properties["caption"] %></div>
      <div class="post_image" style="background-image: url(<%= post.properties['url'] %> );"></div>

    <% elsif post.source == "Twitter" %>
      <div class="full_width">
        <%= image_tag post.user.image, class:"profile_picture" %>
        <div class="profile_nickname"><%= post.user.nickname %></div>
        <div class="date"><%= "#{wordy_time(post)} ago at #{post.properties["place_name"]}" %></div>
      </div>
      <div class="text"><%= post.properties["text"] %></div>
      <% if post.properties["image_url"] %>
        <div class="post_image" style="background-image: url(<%= post.properties['image_url'] %> );"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
