<%= render "layouts/navigation" %>

<% @posts.reverse_each do |post| %>
   <div class="post">
    <div class="full_width">
      <%= image_tag post.user.image, class:"profile_picture" %>
      <div class="profile_nickname"><%= post.user.nickname %></div>
      <div class="date"><%= post.properties["created_date"] %></div>
      <div class="location"><%= post.properties["latitude"] %>, <%= post.properties["longitude"] %></div>
    </div>
    <div class="text"><%= post.properties["caption"] %></div>
    <div class="post_image"><%= image_tag post.properties["url"] %></div>
  </div>
<% end %>
